In [1]:
#Coded By Kavindu

In [2]:
import pandas as pd
import numpy as np

In [3]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [4]:
dataZoo=pd.read_csv("zoo.csv")

In [5]:
dataZoo.head()

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1

In [6]:
dataZoo.shape

(100, 18)

In [7]:
x=dataZoo.iloc[:,1:17]

In [8]:
x.shape

(100, 16)

In [9]:
y=dataZoo.iloc[:,17]

In [10]:
y.shape

(100,)

In [11]:
y.head()

0    1
1    1
2    4
3    1
4    1
Name: class_type, dtype: int64

In [12]:
X_train,X_test,y_train,y_test = train_test_split(x,y, test_size=0.25)

In [13]:
X_train.shape

(75, 16)

In [14]:
X_test.shape

(25, 16)

In [15]:
y_train.shape

(75,)

In [16]:
y_test.shape

(25,)

In [17]:
Zooclassifier = DecisionTreeClassifier(random_state=0)

In [18]:
Zooclassifier.fit(X_train,y_train)

DecisionTreeClassifier(random_state=0)

In [19]:
Zooclassifier.score(X_test,y_test)

0.96

In [20]:
Zooclassifier.predict(X_test[10:15])

array([1, 1, 2, 4, 2], dtype=int64)

In [21]:
y_test[10:15]

69    1
97    1
57    2
8     4
20    2
Name: class_type, dtype: int64