In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier as dtc
from sklearn.model_selection import train_test_split as tts

In [2]:
df = pd.read_csv('car.csv', header=None)

In [3]:
df.head()

       0      1  2  3      4     5      6
0  vhigh  vhigh  2  2  small   low  unacc
1  vhigh  vhigh  2  2  small   med  unacc
2  vhigh  vhigh  2  2  small  high  unacc
3  vhigh  vhigh  2  2    med   low  unacc
4  vhigh  vhigh  2  2    med   med  unacc

In [4]:
df.shape

(1728, 7)

In [5]:
dat0 = pd.factorize(df[0])
dat1 = pd.factorize(df[1])
dat2 = pd.factorize(df[2])
dat3 = pd.factorize(df[3])
dat4 = pd.factorize(df[4])
dat5 = pd.factorize(df[5])
dat6 = pd.factorize(df[6])

In [6]:
dat0

(array([0, 0, 0, ..., 3, 3, 3], dtype=int64),
 Index(['vhigh', 'high', 'med', 'low'], dtype='object'))

In [7]:
df[0] = pd.Series(dat0[0])
df[1] = pd.Series(dat1[0])
df[2] = pd.Series(dat2[0])
df[3] = pd.Series(dat3[0])
df[4] = pd.Series(dat4[0])
df[5] = pd.Series(dat5[0])
df[6] = pd.Series(dat6[0])

In [8]:
df

      0  1  2  3  4  5  6
0     0  0  0  0  0  0  0
1     0  0  0  0  0  1  0
2     0  0  0  0  0  2  0
3     0  0  0  0  1  0  0
4     0  0  0  0  1  1  0
...  .. .. .. .. .. .. ..
1723  3  3  3  2  1  1  3
1724  3  3  3  2  1  2  2
1725  3  3  3  2  2  0  0
1726  3  3  3  2  2  1  3
1727  3  3  3  2  2  2  2

[1728 rows x 7 columns]

In [9]:
x = df.iloc[:,:6]
x.shape

(1728, 6)

In [10]:
y = df.iloc[:,6]
y.shape

(1728,)

In [11]:
X_train,X_test,y_train,y_test = tts(x,y, test_size=0.25)

In [12]:
X_train.shape

(1296, 6)

In [13]:
X_test.shape

(432, 6)

In [14]:
y_train.shape

(1296,)

In [15]:
y_test.shape

(432,)

In [16]:
CarClassifier = dtc(random_state=0)
CarClassifier

DecisionTreeClassifier(random_state=0)

In [17]:
CarClassifier.fit(X_train,y_train)

DecisionTreeClassifier(random_state=0)

In [18]:
CarClassifier.score(X_test,y_test)

0.9745370370370371

In [19]:
CarClassifier.predict(X_test[10:15])

array([1, 0, 0, 0, 0], dtype=int64)

In [20]:
y_test[10:15]

292     1
1560    0
188     0
525     0
1594    0
Name: 6, dtype: int64

In [21]:
from sklearn import tree
import graphviz
feature_names = all_x.columns
class_names=str(data['class_type'].unique())
dot_data = tree.export_graphviz(clf, out_file=None, filled=True, rounded=True,
 feature_names=feature_names, class_names=class_names)
graph = graphviz.Source(dot_data)

ModuleNotFoundError: No module named 'graphviz'